$menu-items-count: 6;
nav {
  background-color: powderblue;
  a > img {
    width: 60px;
    height: 35px;
  }

  ul > li {
    text-transform: uppercase;
    transition: 0.2s ease-in;
    &:hover {
      background-color: dimgray;
      transform: scale(1.04);
      transition: 0.2s ease-out;
    }
  }

  .dropdown-menu {
    min-width: unset;
    width: 100px;
    .dropdown-item:hover {
      cursor: pointer;
      background-color: whitesmoke;
    }
  }
}

.menu-item {
  text-align: center;
  transition: 0.2s ease-in;
  padding: 12px 10px;
  white-space: nowrap;
  &:hover {
    background-color: darken(powderblue, 25%);
    transition: 0.4s ease-out;
    color: white;
  }
}

.active {
  background-color: darken(powderblue, 25%);
  //background: linear-gradient(to right, #fff, powderblue);
}

.fa.fa-spinner {
  font-size: 25px;
  animation: spin 1s linear infinite;
  //animation: spin;
  //animation-duration: 1s;
  //animation-iteration-count: infinite;
  //animation-timing-function: linear;
  //transition: spin linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .menu-item {
    width: calc(100% / #{$menu-items-count});
  }
}
