.main.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgba(200, 200, 200, 0);
  //background-image: url("./../assets/img/sowing-calendar-main.jpg");
  //background-size: cover;
  //padding-left: 0;
  //padding-right: 0;
}
