<div class="map-container">
  <agm-map *ngIf="userCoords || locationTrackingBlocked"
           (zoomChange)="onZoomChange($event)"
           [latitude]="userCoords.lat"
           [longitude]="userCoords.lng"
           [zoom]="zoom"
           [mapTypeId]="selectedMapType"
           (mapClick)="onMapClick($event)"
           (mapRightClick)="removeLastPolygonPath($event)"
  >
    <agm-polygon *ngIf="paths.length > 1"
                 [polyDraggable]="true"
                 [(paths)]="paths"
                 [editable]="false"
                 [draggable]="true"
                 [geodesic]="true">
    </agm-polygon>
  </agm-map>
  <div class="map-settings">
    <div class="card">
      <div class="card-body">
        <div>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
             aria-expanded="false" aria-controls="collapseExample">
            Map type
          </a>
          <div class="collapse" id="collapseExample">
            <div class="map-typeToggle-container column">
              <button class="btn" *ngFor="let type of mapTypes" (click)="changeMapType(type)"
                      [class.active]="type === selectedMapType">
                {{type[0].toUpperCase() + type.substring(1)}}
              </button>
            </div>
          </div>
          <button [disabled]="!paths.length" class="btn btn-primary" role="button" (click)="clearMap()">
            Clear
          </button>
          <button class="btn btn-primary" role="button" (click)="findUserLocation()">
            Знайти мене
          </button>
        </div>
        <div>
          <a class="btn btn-primary" (click)="openModal(map_modal)">
            Зберегти
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



