<div class="map-container">
  <agm-map *ngIf="userCoords || locationTrackingBlocked"
           (zoomChange)="onZoomChange($event)"
           [latitude]="userCoords.lat"
           [longitude]="userCoords.lng"
           [zoom]="zoom"
           [mapTypeId]="selectedMapType"
           (mapClick)="onMapClick($event)"
           (mapRightClick)="removeLastPolygonPath($event)"
  >
    <agm-polygon *ngIf="paths.length > 1"
                 (polyDrag)="onPolyDrag($event)"
                 [polyDraggable]="true"
                 [(paths)]="paths"
                 [editable]="false"
                 [draggable]="true"
                 [geodesic]="true">
    </agm-polygon>
  </agm-map>
  <div class="map-settings">
    <div class="card">
      <div class="card-body">
        <div>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
             aria-expanded="false" aria-controls="collapseExample">
            Map type
          </a>
          <div class="collapse" id="collapseExample">
            <div class="map-typeToggle-container column">
              <button class="btn" *ngFor="let type of mapTypes" (click)="changeMapType(type)"
                      [class.active]="type === selectedMapType">
                {{type[0].toUpperCase() + type.substring(1)}}
              </button>
            </div>
          </div>
          <button [disabled]="!paths.length" class="btn btn-primary" role="button" (click)="clearMap()">
            Clear
          </button>
          <button class="btn btn-primary" role="button" (click)="findUserLocation()">
            Знайти мене
          </button>
        </div>
        <div>
          <a class="btn btn-primary" (click)="openModal(map_modal)">
            Зберегти
          </a>
          <ng-template #map_modal>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Modal</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="fieldName">Назва</label>
                <input type="email" class="form-control" id="fieldName" #input1
                       placeholder="Введіть назву ділянки">
              </div>
              <div class="form-group modal-map-container">
                <agm-map
                  [minZoom]="zoom - 1"
                  [maxZoom]="zoom - 1"
                  [zoom]="zoom - 1"
                  [latitude]="userCoords.lat"
                  [longitude]="userCoords.lng"
                  [mapTypeId]="selectedMapType"
                >
                  <agm-polygon
                    [(paths)]="paths"
                    [polyDraggable]="false"
                    [editable]="false"
                    [draggable]="false"
                  >
                  </agm-polygon>
                </agm-map>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
              <button type="button" class="btn btn-primary" [disabled]="input1.value.length < 4">Підтвердити
              </button>
            </div>
            <!--<div class="modal">-->
            <!--<div class="modal-dialog">-->
            <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
            <!--<h5 class="modal-title">Зберегти ділянку</h5>-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
            <!--<div class="form-group">-->
            <!--<label for="fieldName">Назва</label>-->
            <!--<input type="email" class="form-control" id="fieldName" #input1-->
            <!--placeholder="Введіть назву ділянки">-->
            <!--</div>-->
            <!--<div class="form-group modal-map-container">-->
            <!--<agm-map-->
            <!--[minZoom]="zoom"-->
            <!--[maxZoom]="zoom"-->
            <!--[zoom]="zoom"-->
            <!--[mapTypeId]="selectedMapType"-->
            <!--&gt;-->
            <!--<agm-polygon-->
            <!--[polyDraggable]="false"-->

            <!--[editable]="false"-->
            <!--[draggable]="false"-->
            <!--&gt;-->
            <!--</agm-polygon>-->
            <!--</agm-map>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>-->
            <!--<button type="button" class="btn btn-primary" [disabled]="input1.value.length < 4">Підтвердити-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>



