<div class="auth-wrapper jumbotron col-xs-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
  <form>
    <h2 class="title">Login</h2>
    <div class="form-group">
      <input type="email" class="form-control" autocomplete="off" (keyup)="onEmailChange($event)"
             placeholder="Enter email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" autocomplete="off"
             placeholder="Password" (keyup)="onPasswordChange($event)">
    </div>
    <div class="auth-additional">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <small>
        <a routerLink="../registration">Do not have an account?</a>
      </small>
    </div>
    <button type="submit" class="btn" [disabled]="!isEnabled(email, password)"
            (click)="login()">Submit
    </button>
  </form>
</div>
