.main-wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 230px;
  overflow-y: auto;
  overflow-x: hidden;
  //height: calc(100vh - 56px);

  .main-image {
    background-image: url('http://hotwalls.ru/wallpapers/polya_s_vysoty/download/2560x1707.jpg');
    background-size: cover;
  }

  .map-wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    .map {
    }
  }
}
