//@import "~bootstrap/dist/css/bootstrap.min.css";
//@import "~ngx-toastr/toastr-bs4-alert";
//@import "~ngx-toastr/toastr.css";
//@import "~ngx-toastr/toastr-bs4-alert";
//@import "./../node_modules/ngx-toastr/toastr.css";
@import "~ngx-toastr/toastr.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
$page-offset: 230px;

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-container {
  width: 100%;
  min-height: 100%;
  padding-bottom: 125px;
}
