.cultures-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5px;
  //margin-bottom: 230px;
  .cultures-content {
    width: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 500px){
  .cultures-side-menu {
    width: 100% !important;
  }
}
